body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  display: inline-grid;
  margin: 1em;
  padding: .5em;
  border: 2px solid;
}

.card-date {
  border-top: 2px solid;
}

.card img{
  width:300px;
  display: flexbox;

}
.navbar {
  
}

.navbar a {
  display: inline;
  margin: 1em;  
}

.submit-button {
  display: grid;
  justify-items: end;  
}

button {
  border: 1px solid;
  font-size:2em;
}

.notclicked{
  border: 0px solid black;

}

.clicked{
  border: 4px solid green;

}
